.page[b-l3s44i6qxj] {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #CDCDCD;
}

.sidebar[b-l3s44i6qxj] {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    background: transparent;
}

main[b-l3s44i6qxj] {
    flex: 1;
    min-width: 0;
}

.top-row[b-l3s44i6qxj] {
    display: none;
}

.content[b-l3s44i6qxj] {
    padding: 1.1rem;
}

@media (max-width: 640.98px) {
    .page[b-l3s44i6qxj] {
        flex-direction: column;
    }

    .sidebar[b-l3s44i6qxj] {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .top-row[b-l3s44i6qxj] {
        display: flex;
    }
}
