@using lapushki_blazor.ApiRequests.Models
@using static lapushki_blazor.ApiRequests.Models.User
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="sidebar-nav">
        <div class="sidebar-top">
            <div class="brand-block">
                <img src="/images/logo.png" alt="Лапушки" class="sidebar-logo" />
                <span class="logo-text">Лапушки</span>
            </div>

            <div class="menu-list">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="icon-box">
                            <i class="bi bi-house-door-fill"></i>
                        </span>
                        <span class="menu-text">Главная</span>
                    </NavLink>
                </div>

                <div class="nav-item emergency">
                    <NavLink class="nav-link" href="emergency">
                        <span class="icon-box">
                            <i class="bi bi-exclamation-lg"></i>
                        </span>
                        <span class="menu-text">Экстренный прием</span>
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="servicesPage">
                        <span class="icon-box">
                            <i class="bi bi-paperclip"></i>
                        </span>
                        <span class="menu-text">Услуги</span>
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="specialists">
                        <span class="icon-box">
                            <i class="bi bi-people-fill"></i>
                        </span>
                        <span class="menu-text">Специалисты</span>
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="useful-info">
                        <span class="icon-box">
                            <i class="bi bi-file-earmark-text-fill"></i>
                        </span>
                        <span class="menu-text">Полезная информация</span>
                    </NavLink>
                </div>

                <div class="nav-item">
                    <NavLink class="nav-link" href="contacts">
                        <span class="icon-box">
                            <i class="bi bi-telephone-fill"></i>
                        </span>
                        <span class="menu-text">Контакты</span>
                    </NavLink>
                </div>
            </div>
        </div>

        <div class="profile-block">
            @if (isAuthorized)
            {
                <div>
                    <img src="@currentUser.avatar" class="avatar-navigation" />
                </div>

                <div class="profile-info">
                    <span class="profile-name">
                        @currentUser.name @currentUser.surname
                    </span>
                    <a href="/profile" class="profile-link">Перейти в профиль</a>
                </div>
            }
            else
            {
                <div class="profile-info">
                    <a href="/authPage" class="login-button">Войти</a>
                </div>
            }
        </div>
    </nav>
</div>

@code {
    [Inject] private UserService userService { get; set; }

    private bool isAuthorized => userService.CurrentUser != null;

    private UserModel? currentUser;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override Task OnInitializedAsync()
    {
        currentUser = userService.CurrentUser;
        userService.OnAuthStateChanged += RefreshAuthState;
        return Task.CompletedTask;
    }

    private void RefreshAuthState()
    {
        currentUser = userService.CurrentUser;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        userService.OnAuthStateChanged -= RefreshAuthState;
    }
}